/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif; 
}

/* Body Styling */
body {
    background-color: #f3f4f6;
}

/* Header Styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}

/* Header Content Container */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px;
}

/* Logo Styling */
.logo {
    width: 200px; 
    height: auto;
}

/* Logout Button Styling */
.logout-button {
    color: #EB6E1F; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 12px; 
    cursor: pointer;
    padding: 5px 10px; 
    border: 1px solid #EB6E1F; 
    border-radius: 5px; 
}

.logout-button:hover {
    background-color: #EB6E1F;
    color: white;
    transition: background-color 0.3s;
}

/* Navigation Styling */
nav {
    width: 100%;
    background-color: #0077C0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    list-style: none; 
}

nav ul li {
    flex: 1; 
    text-align: center;
    position: relative;
}

nav ul li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5); 
}

nav ul li a {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    font-size: 18px; 
    display: block;
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #EB6E1F;
}

/* Footer Styling */
footer {
    width: 100%;
    background-color: #0077C0; 
    color: white; 
    text-align: center; 
    padding: 15px;
    position: relative; 
}

footer a {
    color: #ffffff; 
    text-decoration: underline; 
}

footer a:hover {
    color: #ddd;
}

/* Main Content Styling */
.main-content {
    max-width: 80%; 
    margin: 30px auto; 
    padding: 20px; 
}

h2 {
    font-size: 28px; 
    color: #0077C0; 
    margin-bottom: 10px; 
    text-align: center; 
}

p {
    text-align: center;
    color: #555; 
    margin-bottom: 30px; 
}

/* Date Filter Styling */
#date-filter {
    padding: 5px 10px; 
    font-size: 16px; 
}

/* Button Styling */
.button {
    padding: 5px 15px; 
    font-size: 16px; 
    background-color: #0077C0; 
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

.button:hover {
    background-color: #005fa3;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

table {
    width: 100%;
    border-collapse: collapse; 
    font-size: 1rem;
}

table th, table td {
    border: 1px solid #ddd; 
    padding: 10px;
    text-align: center; 
}

table th {
    background-color: #EB6E1F;
    color: white; 
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e6f7ff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    table {
        font-size: 0.9rem;
    }

    table th, table td {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    
    .main-content {
        padding: 10px;
    }

    table {
        font-size: 0.8rem;
    }

    table th, table td {
        padding: 6px;
        white-space: nowrap;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    /* Adjust navigation styles */
    nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 5px 10px;
    }

    /* Adjust font size for smaller screens */
    nav ul li a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 0.75rem;
    }

    table th, table td {
        padding: 4px;
    }

    h2 {
        font-size: 28px;
        color: #0077C0;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #555;
        text-align: center;
        margin-bottom: 20px;
    }
}
