/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif; 
}

/* Body Styling */
body {
    background-color: #f3f4f6;
}

/* Header Styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}

/* Header Content Container */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px;
}

/* Logo Styling */
.logo {
    width: 200px; 
    height: auto;
}
/* Logout Button Styling */
.logout-button {
    color: #EB6E1F; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 12px; 
    cursor: pointer;
    padding: 5px 10px; 
    border: 1px solid #EB6E1F; 
    border-radius: 5px; 
}

.logout-button:hover {
    background-color: #EB6E1F;
    color: white;
    transition: background-color 0.3s;
}

/* Navigation Styling */
nav {
    width: 100%;
    background-color: #0077C0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation List */
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    list-style: none; 
}

/* Navigation List Items */
nav ul li {
    position: relative; 
    flex: 1; 
    text-align: center;
}

nav ul li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5); 
}

/* Navigation Links */
nav ul li a {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    font-size: 18px; 
    display: block;
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #EB6E1F; /
}

/* Footer Styling */
footer {
    width: 100%;
    background-color: #0077C0; 
    color: white; 
    text-align: center; 
    padding: 15px;
    position: relative; 
}

footer a {
    color: #ffffff; 
    text-decoration: underline; 
}
footer a:hover {
    color: #ddd;
}

/* Responsive Media Query */
@media (max-width: 600px) {
    .main-content {
        margin: 20px; 
    }
    .header {
        font-size: 20px; 
    }
    .label {
        font-size: 16px; 
    }
}

/* Main Content Styling */
.main-content {
    max-width: 80%; 
    margin: 30px auto; 
    padding: 20px; 
}

/* Main Heading */
h2 {
    font-size: 28px; 
    color: #0077C0; 
    margin-bottom: 10px; 
    text-align: center; 
}

/* Paragraph Styling */
p {
    text-align: center;
    color: #555; 
    margin-bottom: 30px; 
}

/* Footer Container */
.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px; 
}

/* Date Filter Styling */
#date-filter {
    padding: 5px 10px; 
    font-size: 16px; 
}

/* Button Styling */
.button {
    padding: 5px 15px; 
    font-size: 16px; 
    background-color: #0077C0; 
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

.button:hover {
    background-color: #005fa3;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
}

/* Table Header and Data Cells */
table th, table td {
    border: 1px solid #ddd; 
    padding: 10px;
    text-align: center; 
}

/* Table Header Styling */
table th {
    background-color: #EB6E1F;
    color: white; 
}

/* Table Row Zebra Striping */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table Row Hover Effect */
table tr:hover {
    background-color: #e6f7ff;
}
